

body{background-color:#135784;}
.App{ text-align:center; color:#fff; font-size:24px;}
.icon-arrow{position:absolute;
  right:10px;
  top:11px;
  font-size:20px;}  

.dropbtn {
  background-color:#3498DB;
  color:white;
  padding:16px 208px 16px 13px;
  font-size:16px;
  border:none;
  cursor:pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position:relative;
  display:inline-block;
}

.dropdown-content {
  display:none;
  position:absolute;
  background-color:#f1f1f1;
  min-width:293px;
  overflow:auto;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1; 
} 

.dropdown-content a {
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  border-bottom: dotted 2px #ccc;
  text-align: left; font-size:20px;
} 

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}